input[type=text],
input[type=password] {
    width: 350;

    padding: 10px;
    margin: 20px ;
    justify-content: center;
    align-content: center;
    display: inline-block;
    border: 50px;
    box-sizing: border-box;
    border-radius: 50px;
   
    
    

}



button {
background-color: black;
    color:aqua;
     
    padding: 20px;
    margin: 20px;
    border: solid;
    border-radius:500px;
    width:400px;
    cursor: pointer;
    width: 400px; 
  
 




}







.imgcontainer {
    text-align: center;
    margin: 10px;
    padding:10px;
     justify-content: center;
     color:darkmagenta;
}


img.avatar {
    width: 40%;
    border-radius: 50%;
}

.Klasa2 {


text-align: center;
color:aqua;
justify-content: center;  
 

}
.fonti{
    color:aqua;
    border-radius: 0%;
    border-color: aqua;


}
#div1{
    display: flex;
    justify-content: center;

}
#login{
    color: aqua;
    font-size:x-large;
    display: flex;
    flex-direction: column;


}
#perdoruesth{
    box-shadow: none;
    border: none;
    color: aqua;
}