* {
    margin: 0;
}



       #id{
          
           font-family:Georgia, 'Times New Roman', Times, serif ;
           text-align: center;
           


       }
#firstdiv{

   text-align: center;
   text-align: center;
   color: purple;
   font-size: small;
   font-family: ui-sans-serif;
   /* position: absolute; */
   /* right: auto; */
   /* padding-bottom: 250px; */
   margin: 50px;
   margin-top: 6cm;
}

   



#butoni3{
border-radius: 16px;
width:2cm;
height:2cm;
background-color: black;
border: none;
display: flex;
}
#avatar4{
   width: 0.3cm;
   height:0.3cm;
   margin-right: 0.2cm;
   display: flex;
}




.navbar {
 width: 100%;
 height: 50px;
 background-color: black;
 position: sticky;
 top: 0;
}

.navbar-container {
 display: flex;
 align-items: center;
 padding: 0 50px;
 height: 100%;
 color: white;
 font-family: "Sen", sans-serif;
}



.logo {
 font-size: 30px;
 color:blueviolet;
 font-family:monospace;
}

.menu-container {
 flex: 6;
}

.menu-list {
 display: flex;
 list-style: none;
 color: blueviolet;
}

.menu-list-item {
 margin-right: 30px;
 color:blueviolet;
 

}

.menu-list-item.active {
 font-weight: bold;
}
.profile-container {
 flex: 2;
 display: flex;
 align-items: center;
 justify-content: flex-end;
}

.profile-text-container {
 margin: 0 20px;
 
 
 
}




.seriale{
  
 color: blueviolet;
 background-color: black;
 border-radius: 7%;
 border: none;

 
 
 
}
   
   

#tekst2{
   color:purple;
   align-self: center;
   font-size: medium;
   

}


#contactform {
    justify-content: center;
    width: 600px;
    height: 500px;
    padding: auto;
    margin-top: 1cm;
    border-style: solid;
    margin: auto;
    position: absolute;
    right: auto;
    border: none;
    border-radius: 23px;
    text-align: center;
    position: absolute;
    right: 0px;
    left: 0px;
    background-color: rgb(24,24,24);
    margin-top: 1cm;
}


.submit {
   border-radius: 50px;
   width: 200px;
   justify-self: center;
   width: 200px;
   /* color: blueviolet; */
   /* border-radius: 50px; */
   /* text-align: center; */
   width: 500px;
   height: 70px;
   /* background-color: lightgray; */
   background-color: blueviolet;
   border: none;
   margin-left: 12cm;
   font-size: larger;
    color: black;



}
.submit:hover{
   border-radius: 50px;
   width: 200px;
   justify-self: center;
   width: 200px;
   /* color: blueviolet; */
   /* border-radius: 50px; */
   /* text-align: center; */
   width: 500px;
   height: 70px;
   /* background-color: lightgray; */
   background-color: black;
   border: none;
   margin-left: 12cm;
   font-size: larger;
    color: white;

}


#name {
 border-radius:35px;
background-color:lightgray;
width:200px;
height:30px;
}
#surname {
 border-radius:35px;
background-color:lightgray;
width:200px;
height:30px;
 
}
#email {
 border-radius:35px;
background-color:lightgray;
width:200px;
height:30px;
}
#country {
 border-radius:35px;
background-color:lightgray;
width:200px;
height:30px;
}
#subject {
 border-radius:5px;
background-color:lightgray;
width:200px;
height:10px;
}


.kontaktinfo{
   display: flex;
   justify-content: flex-start;

}
#avatar{
   width: 25px;
   height: 25px;
   border-radius: 8px;
   margin-left: 0.1cm;
  
 }
#butoni{
   border-radius: 8px;
   background-color: black;
   border: none;
}
#slideshow{
   width: 100%;
   height:130%;
}
#avatar2{
   width:0.7cm;
   height:0.7cm;
   border-radius: 16px;

}
#butoni2{
   border-radius: 16px;
   width: 1cm;
   height: 1cm;
   background-color: black;
   border: none;

}
.font{
   color: blueviolet;
   display: flow-root;
}

